{% extends 'Inventario/base.html' %}
{% load static %}
{% block title %}
    Ingreso Articulos
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'Herramientas/ingreso/style.css' %}" >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <!-- CSS de Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
     
    {% endblock %}

{% block content %}
    <section >
        {% if error_Herramienta %}
              
            <div class="formulario_1">
                <form action="" method="POST">  
                    {% csrf_token %}
                    <div class="title_form1">
                        <p>Ingreso de herramientas</p>                        
                    </div>
                    <br>
                    <div class="error">
                        <p>CAMPOS INCOMPLETOS</p>
                    </div>
                    <div class="contenedor_h">
                            <div class="contenedor_herramienta">
                                <div class="contenido">
                                    <label for="">Nombre: </label>
                                    <div class="my_input">
                                        <div class="sombra">
                                        {{form.nombre}}
                                        </div>
                                    </div>
                                </div>
                                <div class="contenido">
                                    <label for="">Marca: </label>
                                    <div class="my_input">      
                                        <div class="sombra">
                                            {{form.marca}}
                                        </div>
                                    </div>
                                </div>
                                <div class="contenido">
                                    <label for="">Funcion: </label>
                                    <div class="my_input">                  
                                        <div class="sombra">
                                        {{form.Funcion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="contenido contselect">
                                    <select name="select_ubicacion" class="select_ubicacion ">
                                        {% for i in form.ubicacion %}
                                            <option value="">{{i}}</option>
                                        {% endfor %}
                                    </select> 
                                </div>    
        
                                <div type="submit" class="boton_form" name="guardar">
                                    <button>Guardar</button>
                                </div>
                                <br>
                                <div class="boton_form">
                                    <button type="submit" name="guardar_y_agregar_otro">Guardar y agregar otro</button>
                                </div>
                            </div>
                    </div>    
                </form>
            </div>    
        {% endif %}
        {% if herramienta %}
        <div class="formulario_1">
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="title_form1">
                    <p>Ingreso de herramientas</p>
                </div>
                <div class="contenedor_h">
                    <div class="contenedor_herramienta">
                        <div class="contenido">
                            <label for="">Nombre: </label>
                            <div class="my_input">
                                <div class="sombra">
                                {{form.nombre}}
                                </div>
                            </div>
                        </div>
                        <div class="contenido">
                            <label for="">Marca: </label>
                            <div class="my_input">      
                                <div class="sombra">
                                    {{form.marca}}
                                </div>
                            </div>
                        </div>
                        <div class="contenido">
                            <label for="">Funcion: </label>
                            <div class="my_input">                  
                                <div class="sombra">
                                {{form.Funcion}}
                                </div>
                            </div>
                        </div>
                        <div class="contenido contselect">
                            {{form.ubicacion}}
                        </div>    

                        <div type="submit" class="boton_form" name="guardar">
                            <button>Guardar</button>
                        </div>
                        <br>
                        <div class="boton_form">
                            <button type="submit" name="guardar_y_agregar_otro">Guardar y agregar otro</button>
                        </div>
                    </div>
                </div>
   

            </form>
        </div>
        {% elif prestamo %}
            {% if error_Acta %}
            <div class="formulario_2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="title_form">
                        <p>Acta de Herramientas</p>
                    </div>
                    <div class="error">
                        <p>No es valido el formulario</p>
                    </div>
                    <div class="contenedor">
                        <div class="contenedor_interno">
                            <div class="contenido">
                                <label for="">Destino: </label>
                                <div class="my_input">                           
                                    <div class="sombra">
                                    {{form.Destino}}
                                    </div>
                                </div>
                            </div>        
                            <div class="contenido" >
                                <label for="">Recibe: </label>
                                <div class="my_input">            
                                    <div class="sombra">
                                    {{form.Recibe}}
                                    </div>
                                </div>
                            </div>    
                            <div class="contenido">
                                <label for="">Entrega: </label>
                                <div class="my_input">                  
                                    <div class="sombra">
                                    {{form.Entrega}}
                                    </div>
                                </div>                                
                            </div>

                            <div class="contenido contselect" id="selectDiv">                    
                                <select name="select_herramienta" class="select_herramienta" multiple="multiple">
                                    {% for i in form.Herramienta %}
                                        <option value="">{{i}}</option>
                                    {% endfor %}
                                </select> 
                            </div>    

                        <div class="contenido boton_form">
                            <button>Guardar</button>
                        </div>
                    </div>      
                </form>
            </div>
            {% endif %}
            <div class="formulario_2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="title_form">
                        <p>Acta de Herramientas</p>
                    </div>
                    <div class="contenedor">
                        <div class="contenedor_interno">
                            <div class="contenido">
                                <label for="">Destino: </label>
                                <div class="my_input">                           
                                    <div class="sombra">
                                    {{form.Destino}}
                                    </div>
                                </div>
                            </div>        
                            <div class="contenido" >
                                <label for="">Recibe: </label>
                                <div class="my_input">            
                                    <div class="sombra">
                                    {{form.Recibe}}
                                    </div>
                                </div>
                            </div>    
                            <div class="contenido">
                                <label for="">Entrega: </label>
                                <div class="my_input">                  
                                    <div class="sombra">
                                    {{form.Entrega}}
                                    </div>
                                </div>                                
                            </div>

                            <div class="contenido contselect" id="selectDiv">                    
                                {{form.Herramienta}}
                            </div>    

                            <div class="contenido boton_form">
                                <button>Guardar</button>
                            </div>
                        </div>

                    </div>        

                </form>

            </div>
        {% else %}

        {% endif %}
    </section>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <script>
            function none_select() {
                var selectDiv = document.getElementsByClassName("contselect")[0];
                
                if (selectDiv.style.visibility === "hidden") {
                    selectDiv.style.visibility = "visible";
                } else {
                    selectDiv.style.visibility = "hidden";
                }
            }
        </script>
        <script>
        $(document).ready(function() {
            $('.select_herramienta').select2({placeholder: "Herramienta",
            allowClear: true});
            $('.select_ubicacion').select2({placeholder: "Ubicacion",
            allowClear: true});
        });
    </script>
{% endblock %}



